
/* fullscreen background defaults to black otherwise */
:fullscreen {
    background-color: white;
}

/* to overwrite nav bar display attribute to hide nav bar in fullscreen */
.hidden {
    display: none !important;
}

#fullscreenButton {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    //box-sizing: border-box;
}

#fullscreenButton:hover {
    transform: scale(1.05);
    font-weight: bold;
}