.leader-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leader-board .button {
    height: 150px;
    width: 600px;
    font-size: 80px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    text-shadow: var(--font-shadow);
}

.leader-board .add-button {
    margin-left: 10px;
}

.leader-board .button:hover {
    background-color: var(--secondary-color);
}

.leader-board .button:active {
    background-color: var(--tertiary-color);
}

.leader-board .input {
    height: 150px;
    margin: 9px;
    width: 600px;
    font-size: 80px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--input-field-bg);
}

.leader-board .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leader-board .race-details-button {
    height: 80px;
    width: 320px;
    font-size: 43px;
}

.leader-board .go-back-button {
    margin-top: 100px;
    height: 80px;
    width: 320px;
    font-size: 43px;
}

.leader-board .race-details-input {
    height: 80px;
    width: 320px;
    font-size: 43px;
}

.leader-board .driver-details {
    font-weight: bold;
    height: 80px;
    width: 320px;
    font-size: 43px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    text-shadow: var(--font-shadow);
}

.leader-board .header {
    font-weight: bold;
    height: 80px;
    width: 500px;
    font-size: 43px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: var(--primary-color);
    border: none;
    text-shadow: var(--font-shadow);
}

.leader-board .text {
    font-weight: bold;
    height: 40px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 1200px;
    color: var(--primary-color);
    border: none;
    text-shadow: var(--font-shadow);
}
