.racing-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.racing-panel .raceCarTracksContainerNavigator {
    display: flex;
    flex-direction: row;
}

.racing-panel .my-custom-container .RaceCountdown {

    position: static; /* Override the fixed positioning */
    transform: none; /* Reset the transform property */
    top: auto; /* Reset the top property */
    left: auto; /* Reset the left property */
    display: inline-block; /* Adjust to inline layout */
    flex-direction: row; /* Change layout to row if needed */
    align-items: center; /* Center align items */
    width: auto; /* Reset width */
    font-size: 18px; /* Your desired font size */
}

.racing-panel .raceCarTracksContainer {
    position: relative;
    margin-bottom: 40px;
}

/* Race track with car and road */
.racing-panel .raceTrack {
    position: relative;
    height: 25px;
}

.racing-panel .carImage {
    position: absolute;
    width: 30px;
}

.racing-panel .raceRoad {
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--font-color);
    margin: 20px 0;
}

.racing-panel .driverDataContainer {
    position: relative;
    line-height: 0;
    padding-top: 10px;
}

.racing-panel .driverDataContainer p {
    color: var(--font-color);
}

.racing-panel .raceCarTracksContainerNavigator div {
    color: var(--font-color);
}

.racing-panel .no-races {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-size: clamp(2.5vw, 3em, 4vw);
}

.racing-panel .logo {
    width: 75%;
    opacity: 90%;
}

.racing-panel .text {
    font-weight: bold;
    height: 40px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    color: var(--primary-color);
    border: none;
    text-shadow: var(--font-shadow);
}

.racing-panel .text2 {
    font-weight: bold;
    height: 40px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 1000px;
    color: var(--primary-color);
    border: none;
    text-shadow: var(--font-shadow);
}

.racing-panel .text3 {
    font-weight: bold;
    height: 40px;
    width: 190px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    color: var(--primary-color);
    border: none;
    text-shadow: var(--font-shadow);
}
