.raceCarTracksContainerNavigator {
    display: flex;
    flex-direction: row;
}


.raceCarTracksContainer {
    position: relative;
    margin-bottom: 40px;
}

/* Race track with car and road */
.raceTrack {
    position: relative;
    height: 25px;
}

.carImage {
    position: absolute;
    width: 30px;
}

.raceRoad {
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    margin: 20px 0;
}





.driverDataContainer {
    position: relative;
    line-height: 0;
    padding-top: 10px;
}