.LapLineObserver {
    height: 100%;
    margin: 0;
}

.LapLineObserver #observerButtonsGrid {
    flex: 1;
    display: grid;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LapLineObserver #observerButton {
    padding: 0;
    display: block;
    height: 100%;
    width: 100%;
    font-size: clamp(0.5rem, 6vw, 10rem);
    word-wrap: break-word;
    text-align: center;
    border-radius: 5px;
    flex-grow: 1;
    /*background-color: #b3e3f2;*/
    background-color: var(--primary-color);
    color: var(--font-color);
    border-color: var(--border-color)
}

@media only screen and (orientation: portrait) {
    .LapLineObserver #observerButtonsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (orientation: landscape) {
    .LapLineObserver #observerButtonsGrid {
        /*grid-template-columns: repeat(4, 1fr);*/
        /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); !* Dynamic columns *!*/
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
    }
}

/* Portrait Mode */
/*@media only screen and (orientation: portrait) {*/
/*    .LapLineObserver #observerButtonsGrid {*/
/*        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); !* Adjust minimum width if needed *!*/
/*    }*/
/*}*/

/*!* Landscape Mode *!*/
/*@media only screen and (orientation: landscape) {*/
/*    .LapLineObserver #observerButtonsGrid {*/
/*        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); !* Adjust minimum width if needed *!*/
/*    }*/
/*}*/

.LapLineObserver .information {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: clamp(1rem, 7vw, 5rem);
    color: var(--font-color)
}

.LapLineObserver .session-ended {
    text-shadow: 0 0 5px black;
}

.LapLineObserver .stopwatch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 3vw, 3rem);
}

.LapLineObserver .stopwatch {
    font-family: var(--stopwatch-font);
    font-weight: var(--stopwatch-font-weight);
}

.LapLineObserver .blur {
    filter: blur(2px);
    pointer-events: none;
}

