.LapLineObserver .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-self: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#observerButtonsGrid {
    flex: 1;
    display: grid;
    gap: 20px;
    /*place-items: center;*/
    /*height: 100vh;*/
    /*max-height: 100vh;*/
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#observerButton {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2em;
    word-wrap: break-word;
    text-align: center;
/*    height: 0;
    padding-bottom: 100%;*/

}

@media only screen and (orientation: portrait) {
    #observerButtonsGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #observerButton {
        /*height: 20vh;*/
        min-height: 23vh;
        /*max-height: 23vh;*/
    }
}

@media only screen and (orientation: landscape) {
    #observerButtonsGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #observerButton {
        /*height: 40vh;*/
        min-height: 45vh;
        /*max-height: 50vh;*/
    }

}
