<!DOCTYPE html>
<html lang="en">
<head>
    <title>Front Desk Interface</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="front-desk.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="">
</head>
<body>
<div id = "output">Welcome to the Front Desk Interface</div>
<p id="message">here</p>

<script>
    //const socket = io();

    // Listen for the button press notification from the server
/*    socket.on('buttonPressedNotification', () => {
        document.getElementById('message').textContent = 'The button was pressed on the Receptionist page!';
    });*/
</script>

</body>
</html>
